@import "colors";
@import "media_queries";

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  background: $light;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  position: relative;

  &__logo {
    color: $lime;
    cursor: pointer;
    font-size: 1.9rem;
    margin-left: 24px;
    @extend %align-center;
  }

  &__bars {
    opacity: 0;

    @include tablet {
      color: $dark;
      opacity: 1;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 1rem;
    }
  }

  &__menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    margin-right: 20px;

    @include tablet {
      display: none;
    }

    &--links {
      color: $dark;
      @extend %align-center;
      justify-content: center;
      padding: 0 1rem;

      &:hover {
        color: $lime;
        transition: all 0.3s ease;
      }
    }

    #button {
      padding: 12px 20px;
      border: none;
      outline: none;
      border-radius: 5px;
      background: $lime;
      margin-left: 16px;
      color: $light;

      &:hover {
        background: $orangeRed;
        transition: all 0.3s ease;
      }
    }
  }
}
