* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 200, 100);
}

.search-box {
  max-width: 600px;
}

.search-box h2 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.search-box input {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  box-sizing: border-box;
}
.search-box input[type="text"] {
  background: rgb(255, 255, 255);
  width: 250px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0 5px;
}

.search-box select {
  position: relative;
  left: -5px;
  border: none;
  outline: none;
  background: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding: 12px 5px 10.5px;
  margin: -2px;
  border-right: 10px solid rgb(255, 255, 255);
}

.search-box input[type="submit"] {
  position: relative;
  left: -8px;
  width: 100px;
  height: 45px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(1, 100, 100);
  color: rgb(255, 255, 255);
}

.search-box input[type="submit"]:hover {
  background: rgba(1, 100, 100, 0.8);
}

@media (max-width: 567px) {
  .search-box form {
    display: flex;
    flex-direction: column;
  }
  .search-box select {
    left: 0;
    margin: 0;
  }
  .search-box input[type="submit"] {
    left: 0;
    width: 250px;
    height: 45px;
  }
}
