* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(180, 176, 176);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transform: skewY(-5deg);
}

.container .cards .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.container .cards .card::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background: rgb(141, 255, 96);
  transform-origin: bottom;
  transform: skewX(45deg);
}

.container .cards .card::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 50%;
  background: rgb(141, 255, 96);
  transform-origin: left;
  transform: skewY(45deg);
  border-bottom: 200px solid #ffffff;
}

.container .cards .card:hover {
  transform: translateY(-40px);
  transition: 0.5s;
}

.container .cards .card .img {
  position: relative;
  width: 100%;
  height: 200px;
  background: rgb(141, 255, 96);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .cards .card .img .material-icons {
  display: block;
  font-size: 5rem;
  color: rgb(255, 255, 255);
}

.container .cards .card .img h3 {
  position: relative;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.container .cards .card .content {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 20px;
  color: rgb(119, 119, 119);
  background: rgb(255, 255, 255);
  z-index: 5;
}

.container .cards .card .content::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  pointer-events: none;
  z-index: -1;
}

.container .cards .card:hover .content::before {
  transform: translateY(40px) skewX(45deg);
  filter: blur(5px);
  opacity: 0.5;
}

.container .cards .card:nth-child(1) {
  z-index: 3;
}

.container .cards .card:nth-child(2) {
  z-index: 2;
}

.container .cards .card:nth-child(3) {
  z-index: 1;
}
